/* Load Web Fonts -------------------- */

@font-face {
    font-family: 'Abolition Regular';
    src: url('../fonts/abolition-regular-webfont.eot');
    src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abolition-regular-webfont.woff') format('woff'),
         url('../fonts/abolition-regular-webfont.ttf') format('truetype');
  }
  
  /* Base Styles -------------------- */
body {
    background-color: black;
}

.title {
    text-align: center;
    font-size: 1.625rem; 
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px;
    padding-bottom: 10px;
    background-image: url("../img/Louisville_Night.jpg");
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title,
.subtitle {
    color: whitesmoke;
    /* background-color: black; */
    text-shadow: black 0px 2px 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-header,
.main-footer {
    text-align: center;
}

.main-footer {
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}